<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SEO Stories</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="public/Stories.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" rel="stylesheet">
    <link href="css" rel="stylesheet" type="text/css">
    

</head>

<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    Stories
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                  
                    
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <div>
      <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="content1.html#">
                    <h2 class="section-header">INTERNET ETHICS</h2>
                    <h4>
                        September 2, 2017
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="content2.html#">
                    <h2 class="section-header">WHITE HAT SEO TECHINQUES</h2>
                    <h4>
                        September 3, 2017
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="content3.html#">
                    <h2 class="section-header">BLACK HAT SEO TECHNIQUES</h2>
                    <h4>
                        September 4, 2017
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="content4.html#">
                    <h2 class="section-header">GREY HAT SEO TECHNIQUES</h2>
                    <h4>
                        September 5, 2017
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="content5.html#">
                    <h2 class="section-header">Differences and Similarites of Hat SEO techiques</h2>
                    <h4>
                        September 6, 2017
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="content6.html#">
                    <h2 class="section-header">BLACK HAT SEO Recent news</h2>
                    <h4>
                        September 7, 2017
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    
    </div>
    <div class="page-bg"></div>
    <script src="custom.js"></script>
    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
         <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-102557621-1', 'auto');
  ga('send', 'pageview');
</script> 
<script type="text/javascript"> $(document).ready(function(){
    $('.materialboxed').materialbox();
  });</script>
<script type="text/javascript"> $(document).ready(function(){
      $('.slider').slider();
    });</script>
</body></html>
