<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Canonicalization</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">
  
    <link href="css" rel="stylesheet" type="text/css">
    

</head>

<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    TENAJEROS, JULES ANDREW BSIT-3SE
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <!--     <a href="index2.html">ASSIGNMENT 1</a>
                    </li>
                    <li>
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#">ASSIGNMENT 2</a>
                    </li>

                    -->
                    <li class="dropdown">
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="index.html#">What is SEO</a></li>
                            <li><a href="index2.html#">SEO Strategies & SEM</a></li>
                            <li><a href="index3.html#">ON-PAGE VS OFF-PAGE SEO</a></li>
                            <li><a href="index4.html#">URL Canonicalization</a></li>
                            <li><a href="index5.html#">How Good is this website?</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>

        <div class="header-content">
            <div class="header-content-inner">
                <h2>Importance of</h2>
                <h1>URL Canonicalization</h1>
                <p>answer goes here</p>
                
            </div>
        </div>
    </header>
<div class="page-bg"></div>
	<!-- Intro Section -->
    <section class="intro" style="
    height: 540px;
">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	
                    <h2 class="section-heading">HTTP Status Codes</h2>
                    <p class="text-light">answer goes here</p>
                </div>
            </div>
        </div>
    </section>

	<!-- Content 1 -->
    <section class="content" style="
    height: 500px;
">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                	<h2 class="section-header">What is backlinking</h2>
                	<h3>answer goes here</h3>
                	
                </div>                
                
            </div>
        </div>
    </section>

	<!-- Content 2 -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                	<h2 class="section-header">On-page SEO's important HTML elements</h2>
                     <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><h2>Title tag</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Meta Description</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Image</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Text Link</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>NoFollwed Link</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Image Link</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    
  </ul>
                	
                </div>    
                            
                
            </div>
        </div>
    </section>    
    <section class="content" style="
    height: 500px;
">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                    <h2 class="section-header">SEO's hyperlinking best practices</h2>
                    <h3>answer goes here</h3>
                    
                </div>                
                
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="custom.js"></script>

    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
          


</body></html>