 [midterm]<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>How Good is this website?</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" rel="stylesheet">
    <link href="css" rel="stylesheet" type="text/css">
    

</head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9197878935414975",
    enable_page_level_ads: true
  });
</script>
<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    Criterion of a responsive site
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="index.html#">What is SEO</a></li>
                            <li><a href="index2.html#">SEO Strategies & SEM</a></li>
                            <li><a href="index3.html#">ON-PAGE VS OFF-PAGE SEO</a></li>
                            <li><a href="index4.html#">URL Canonicalization</a></li>
                            <li><a href="index5.html#">How responsive is this website?</a></li>
                            <li><a href="index6.html#">Stories [midterm]</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>

        <div class="header-content">
            <div class="header-content-inner">
                <h2>How great is this</h2>
                <h1>WEBSITE?</h1>
                <p>screenshots of used website tester</p>
                
            </div>
        </div>
    </header>
   
<div class="page-bg"></div>
    <section class="intro">
        <div class="container">
            <h2 class="section-heading"><a href="http://nibbler.silktide.com/en_US/reports/seoassignment1.herokuapp.com">NIBBLER</a> </h2>
            <div class="material-placeholder">
                <img class="materialboxed responsive-img"  src="https://u1tkig.bn1302.livefilestore.com/y4m3sOVPstnyf87i0yEly0XbrfHS21xl2FvB_P-GQXQQtFAqJ0ghy-mhVVRNtmX3cvF51qlHGGoNR1bbvmyBClKBtn-IDsv29pWt8bh9Yybfn1Y7kjnn0D_Q3CZYnGUMInNBbhi24amDnKPcdlyQSXnY2T0VHZGG6kQECSMvnFhFgGSCnzx69eQLXBryVLykfq9j3zz9gKZkZBtv60Kuw1hSA?width=949&height=687&cropmode=none">
            </div>
        </div>
    </section>

	<!-- Content 1 -->
    <section class="content" >
        <div class="container">
            <h2 class="section-heading"><a href="https://website.grader.com/results/seoassignment1.herokuapp.com">WEBSITE GRADER</a> </h2>
            <div class="material-placeholder">
                <img class="materialboxed responsive-img"  src="https://ultkig.bn1302.livefilestore.com/y4mIvsBHu8jckWvE1Xl2NYekcuW9-uFIM56ARLJDgtNI7kB_r8psmv67o2TQ3bWMvxgIshmw_rB6pt7TcAAgYq1DsLkg8TmbKBLtnd_tZdJvuzkLl0dJHoCxNQUwU_PqWZlemulwvy086n6tMZsgJoeqxuvl_7gz4pFtT7DZxYRlFrEP33qw3isuHy-sMwl_hqvxTZ_peiOXQnsfq9-NW5KzQ?width=1155&height=897&cropmode=none">
            </div>
        </div>
    </section>
     <section class="content content-2">
        <div class="container">
            <h2 class="section-heading"><a href="https://checker.monitorbacklinks.com/seo-tools/free-backlink-checker/seoassignment1.herokuapp.com">Monitor Backlinks</a> </h2>
            <div class="material-placeholder">
                <img class="materialboxed responsive-img"  src="https://uvtkig.bn1302.livefilestore.com/y4mnqN9uxPF35g40pdKgf0sYy2jP8Kkwl4corsgfmZv8LhpBlHPu_6EHp66F4CHRmp9xD1ZDLys2A6z42HmSghpIYg3y_CLPeSl5FJhwdhvLVd_iVO-K28fu4TUvwEMXYXnVthdJb3m2JQFETafHYPo87MAKpEEsNcPi6Eb5WNsFjdvMVJ_BoXqUGR3Cg8df9rBv3qpXVCPQQOS_F0h6pDzKw?width=1185&height=387&cropmode=none">
            </div>
        </div>
    </section>     
            <!-- <div class="slider">
             <ul class="slides">
              <li>
                <div class="blur-content">
                       <iframe src="https://allaboutseo.herokuapp.com/" style="
    width: 2000px;
    height: 400px;
" frameborder="0"></iframe>
                       </div>
                <div class="caption center-align">
                  <h3>Search Engine Optimization</h3>
                  <a href="https://allaboutseo.herokuapp.com/">allaboutseo.herokuapp.com/</a>
                </div>
              </li>
                <li>
                <div class="blur-content">
                       <iframe src="http://estilloso-itelect-assign1.herokuapp.com/" style="
    width: 2000px;
    height: 400px;
"frameborder="0"></iframe>
                       </div>
                <div class="caption center-align">
                  <h3>Estilloso</h3>
                  <a href="http://estilloso-itelect-assign1.herokuapp.com/">estilloso-itelect-assign1.herokuapp.com</a>
                </div>
              </li>
              
            </ul>
            <h2 style="text-align: center;">Visit related website</h2>
          </div> -->
          <h2 style="text-align: center;">Visit related website</h2>
  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Search Engine Optimization</span>
              <p>allaboutseo.herokuapp.com</p>
            </div>
            <div class="card-action">
              <a href="https://allaboutseo.herokuapp.com">Visit site</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Search Engine Optimization</span>
              <p>estilloso-itelect-assign1.herokuapp.com</p>
            </div>
            <div class="card-action">
              <a href="http://estilloso-itelect-assign1.herokuapp.com/">Visit site</a>
            </div>
          </div>
        </div>
      </div>

    <script src="jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="custom.js"></script>

    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
         <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-102557621-1', 'auto');
  ga('send', 'pageview');
</script> 
<script type="text/javascript"> $(document).ready(function(){
    $('.materialboxed').materialbox();
  });</script>
<script type="text/javascript"> $(document).ready(function(){
      $('.slider').slider();
    });</script>
</body></html>
