<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SEO Stories</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" rel="stylesheet">
    <link href="css" rel="stylesheet" type="text/css">
    

</head>

<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    Stories
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <!--     <a href="index2.html">ASSIGNMENT 1</a>
                    </li>
                    <li>
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#">ASSIGNMENT 2</a>
                    </li>

                    -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="index.html#">What is SEO</a></li>
                            <li><a href="index2.html#">SEO Strategies & SEM</a></li>
                            <li><a href="index3.html#">ON-PAGE VS OFF-PAGE SEO</a></li>
                            <li><a href="index4.html#">URL Canonicalization</a></li>
                            <li><a href="index5.html#">How responsive is this website?</a></li>
                            <li><a href="index6.html#">Stories</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <div>
      <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="story1.html#">
                    <h2 class="section-header">Increasing Organic Site Traffic</h2>
                    <h4>
                        How important is it to increase organic site traffic?
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="story2.html#">
                    <h2 class="section-header">Why Websites needs SEO?</h2>
                    <h4>
                        What is SEO's impact to your website?
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="story3.html#">
                    <h2 class="section-header">How Search Engines figure out Websites</h2>
                    <h4>
                        
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                <a href="story4.html#">
                    <h2 class="section-header">SEO's Moral Code</h2>
                    <h4>
                        a different kind of code for the dos and don'ts
                    </h4>
                </a>  
                </div>                
                
            </div>
        </div>
    </section>
    </div>
    <div class="page-bg"></div>
    <script src="custom.js"></script>
    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
         <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-102557621-1', 'auto');
  ga('send', 'pageview');
</script> 
<script type="text/javascript"> $(document).ready(function(){
    $('.materialboxed').materialbox();
  });</script>
<script type="text/javascript"> $(document).ready(function(){
      $('.slider').slider();
    });</script>
</body></html>
