<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Canonicalization</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">
  
    <link href="css" rel="stylesheet" type="text/css">
    

</head>

<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    Keep Your SEO the Best
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <!--     <a href="index2.html">ASSIGNMENT 1</a>
                    </li>
                    <li>
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#">ASSIGNMENT 2</a>
                    </li>

                    -->
                    <li class="dropdown">
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="index.html#">What is SEO</a></li>
                            <li><a href="index2.html#">SEO Strategies & SEM</a></li>
                            <li><a href="index3.html#">ON-PAGE VS OFF-PAGE SEO</a></li>
                            <li><a href="index4.html#">URL Canonicalization</a></li>
                            <li><a href="index5.html#">How responsive is this website?</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>

        <div class="header-content">
            <div class="header-content-inner">
                <h2>Importance of</h2>
                <h1>URL Canonicalization</h1>
                <p>URL Canonicalization index URLS. All the content within the website that are associated with the indexed URL is brought to the search engine database, but Uniform Resource Locator or URL’s are what possess ranking. What complicates a certain matter in search is that the identical content page can have a single or multiple URLS associated with it.</p>
            </div>
        </div>
    </header>
<div class="page-bg"></div>
	<!-- Intro Section -->
    <section class="intro" style="
    height: 540px;
">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	
                    <h2 class="section-heading">HTTP Status Codes</h2>
                    <p class="text-light">The Status-Code element in a server response, is a 3-digit integer where the first digit of the Status-Code defines the class of response and the last two digits do not have any categorization role.</p>
                </div>
            </div>
        </div>
    </section>

	<!-- Content 1 -->
    <section class="content" style="
    height: 500px;
">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                	<h2 class="section-header">What is backlinking</h2>
                	<h3>Backlink is a connection one site gets from another site. Backlinks have a gigantic effect on a site’s noticeable quality in web index comes about. This is the reason they are viewed as extremely valuable for enhancing a site’s SEO positioning. Web indexes figure rankings utilizing various elements to show list items. Nobody knows for beyond any doubt how much weight web crawlers provide for backlinks when posting comes about, however what we do know for certain is that they are essential.</h3>
                	
                </div>                
                
            </div>
        </div>
    </section>

	<!-- Content 2 -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                	<h2 class="section-header">On-page SEO's important HTML elements</h2>
                     <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><h2>Title tag</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Meta Description</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Image</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Text Link</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>NoFollwed Link</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Image Link</h2></div>
      <div class="collapsible-body"><span><h3>answer goes here</h3></span></div>
    </li>
    
  </ul>
                	
                </div>    
                            
                
            </div>
        </div>
    </section>    
    <section class="content" style="
    height: 500px;
">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                    <h2 class="section-header">SEO's hyperlinking best practices</h2>
                    <h3>There are best practices in SEO hyperlinking. The first one is to Create lots of contents. In order to have lots of links , you need to have many internal pages. The second one is to Use anchor text. The internal links should use anchor text as opposed to linked images. The third one is Link Deep you should avoid links to the top level pages on the website. The fourth one is that Use links that are natural for the reader.The link value that gets distributed throughout the site is secondary to this key point. The fifth one is that you should Use relevant links. You should link to relevant content in your internal linking. The sixth one is to Use follow links. Follow links are the best way to build out all the internal link architecture of the content marketing. The last one is to Use a reasonable number of internal links. You really don’t need a lot of internal links in your internal content.</h3>
                    
                </div>                
                
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="custom.js"></script>

    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
          
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102557621-1', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
